.hero {
    display: flex;
}

.hero .dynamic-texts {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    
}

.dynamic-texts li {
    list-style: none;
    color: #000;
    font-size: 60px;
    font-weight: 500;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100%{
        top: -360px;
    }
}

.dynamic-texts li span {
    position: relative;
    bottom: 90px;
    left: 0;
    height: 50%;
    width: 50%;
    animation: typing 3s steps(10) infinite;
}

@keyframes typing {
    40%, 60%{
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
}