.cvbtn  {
display: flex;
align-items: center;
justify-content: center;

}

.cvbtn a {
    margin-top: -300px;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .cvbtn  {
        display: flex;
        justify-content: center;
        align-items: center;
        
        }
        
        .cvbtn a {
            margin-top: 10px;
        }
}
